<h3>{{title}}</h3>
<h4>by {{username}}</h4>
<p>{{description}}</p>
<a {{bind-attr href=link}}>{{link}}</a>
{{#if model.comments}}
  <h4>Comments:</h4>
  {{#each comment in model.comments}}
    
    <div class="ui secondary segment">
      "{{comment.body}}" by {{comment.username}}
      <a {{action "deleteComment" comment}}><i class="remove icon"></i></a>
      
      {{#link-to "comments.edit" comment}}<i class="pencil icon"></i>{{/link-to}}
    </div>
  {{/each}}
  
{{/if}}
{{#link-to "comments.new"}}Add a Comment{{/link-to}}

{{outlet}}
